{{> not-login-nav}}
    <div style="margin-top:25px;"></div>
    <div style="width:100%;">
        <div class="container">
            <div class="row" style="margin-top:17px;margin-bottom:37px;">
                <div class="col-md-4" style="margin-right:0px;padding-right:50px;padding-left:50px;"><img class="img-responsive" src="assets/img/Airship CMS Orange.png" style="margin-top:19px;">
                    <p class="lead text-justify" style="margin-top:20px;"><strong>Honolulu, Hawaii</strong></p>
                    <p class="lead text-justify" style="margin-top:20px;">Airship takes care of everything on the server-side for you, letting you focus on delivering rich, dynamic web applications. </p>
                    <p class="lead text-justify text-muted" style="margin-top:20px;margin-bottom:4px;"><em>Interests</em> </p><span class="label label-default">Web Development</span><span class="label label-default">Technology </span><span class="label label-default">Content Management Systems</span>
                    <button class="btn btn-default" type="button"
                    style="background-color:#f15a24;height:37px;padding-top:13px;padding-bottom:33px;color:rgb(249,248,248);width:100%;margin-top:16px;padding-right:0px;padding-left:0px;margin-bottom:20px;font-size:17px;">Go TO AIRSHIP CMS</button>
                </div>
                <div class="col-md-8" style="padding-right:auto;padding-left:auto;padding-top:14px;margin-right:auto;margin-left:auto;background-color:#f15a24;">
                    <iframe width="560" height="315" allowfullscreen frameborder=“0” src="https://www.youtube.com/embed/qD4Go7Y3ZDA" style="margin-right:auto;margin-left:auto;padding-right:auto;padding-left:auto;width:100%;min-height:400px;padding-bottom:10px;height:auto;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row product-list" style="width:100%;margin-right:0;margin-left:0;">
        <div class="col-md-4 col-md-offset-4 col-sm-4 product-item">
            <div class="product-container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="product-image" style="background-image:url(&quot;assets/img/airshipblack.jpg&quot;);background-size:contain;background-repeat:no-repeat;background-position:50% 50%;height:265px;"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8" style="width:100%;">
                        <h2><a href="#">AirshipCMS Dark</a></h2></div>
                </div>
                <div class="product-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i><a href="#" class="small-text">82 Free Shirt Promoters</a></div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="product-description">Flaunt the Airship CMS logo, with its stylish and modern design. </p>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="free-shirt-button" class="btn btn-primary" type="button" disabled="disabled" style="background-color:#f15a24;width:100%;height:50px;">WATCH VIDEO TO GET YOUR FREE SHIRT!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="brands"></div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
