<nav class="navbar navbar-default" style="height:69px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"><img src="assets/img/shirtconnectlogo.png" width="200"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation">
                        <a href="/register" style="background: none">
                            <button class="btn btn-default" type="button" style="background-color:#f15a24;height:37px;padding-top:7px;padding-bottom:4px;color:rgb(249,248,248);">Get my free shirt!</button>
                        </a>
                    </li>
                    <li role="presentation"><a href="#" style="padding:25px;">For Branders</a></li>
                    <li role="presentation"><a href="#" style="padding:25px;">Promote &amp; Earn</a></li>
                    <li role="presentation"><a href="#" style="background: none;">
                      <button class="btn btn-default" type="button" style="height:37px;padding-top:7px;padding-bottom:4px;">Login</button>
                    </a></li>
                </ul>
            </div>
        </div>
</nav>

<div class="jumbotron hero" style="background-image:url(&quot;assets/img/pexels-photo-109919.jpeg&quot;);background-color:#ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="iphone-mockup">
                    <div class="screen"></div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1>Free Shirts from emerging brands!</h1>
                <p>Get Free Shirts and help promote local and national businesses!</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<section class="testimonials">
    <h2 class="text-center">People Love It!</h2>
    <blockquote>
        <p>I got my free shirt in the mail, and I absolutely love it. The company that's on the shirt rocks too! Go AirshipCMS!</p>
        <footer>Future ShirtConnect User</footer>
    </blockquote>
</section>
<section class="features" style="background-color:#f15a24;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Fantastic Features</h2>
                <p>Cool and Fresh T-Shirts Designs for emerging and existing busiensses looking to expand their market presence.</p>
            </div>
            <div class="col-md-6">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature"><i class="material-icons" style="width:60px;height:60px;font-size:60px;">account_circle</i>
                        <p>User Centered</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                        <p>Saves You Money</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-fire"></i>
                        <p>Fire Proof</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="brands">
    <h2 class="text-center text-muted" style="font-size:24px;">Active Shirt Brands</h2>
    <a href="#"> <img src="assets/img/instacart.png"><img src="assets/img/kickstarter.png"><img src="assets/img/lyft.png"><img src="assets/img/shopify.png"><img src="assets/img/pinterest.png"><img src="assets/img/twitter.png"></a>
</div>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Mobile App © 2016</h5></div>
            <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
