{{> not-login-nav}}

<div class="jumbotron hero" style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('assets/img/pexels-photo-109919.jpeg');background-color:#ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="iphone-mockup">
                    <div class="screen"></div>
                </div><img class="img-responsive" src="assets/img/Screen Shot 2017-07-29 at 7.49.45 PM.png" style="margin-top:66px;"></div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1>Free Shirts from emerging brands delivered to your door!</h1>
                <p>Get Free Shirts and help promote local and national businesses!</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div></div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 item">
                <iframe width="560" height="315" allowfullscreen frameborder=“0” src="https://www.youtube.com/embed/qD4Go7Y3ZDA" style="margin-right:auto;margin-left:auto;padding-right:auto;padding-left:auto;width:100%;min-height:400px;padding-bottom:10px;height:auto;"></iframe>
            </div>
            <div class="col-md-6" id="login-div">
                <div style="margin-bottom:24px;">
                    <h2 class="text-center" style="color:#f15a24;"> Get your <strong>free</strong> shirt now!</h2>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="control-label">
                                <input type="checkbox">I agree to the license terms.</label>
                        </div>
                    </div>
                    <a href="/register"
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" style="background-color:#f15a24;font-size:37px;">Sign up!</button>
                      </a>
                  </div>
            </div>
        </div>
    </div>
</div>
<section class="testimonials" style="background-color:#f15a24;margin-top:50px;padding-top:10px;padding-bottom:10px;">
    <h2 class="text-center" style="color:#ffffff;">People Love It!</h2>
    <blockquote>
        <p style="color:#ffffff;">I got my free shirt in the mail, and I absolutely love it. The company that's on the shirt rocks too! Go AirshipCMS!</p>
        <footer style="color:#313437;">Future ShirtConnect User</footer>
    </blockquote>
</section>
<div class="brands">
    <h2 class="text-center text-muted" style="font-size:24px;color:#f15a24;">Available Brands</h2>
    <a href="/brand-airship" style="padding-top:0px;"> <img src="assets/img/Airship CMS Orange.png" width="200"><img src="assets/img/DevLeague-LogoLarge.png" width="200"><img src="assets/img/111-IH-REDsquarePR-2.jpg" width="150"><img src="assets/img/AngelHack.png" width="200"></a>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
