{{> not-login-nav}}

<div class="container">
    <div class="row">
        <div class="col-md-12 animated fadeInUp" id="q-style" style="animation-delay: .3s;">
            <h2 class="text-center">What's your style?</h2>
            <p class="lead text-center">Choose logos that appeal to you.</p>
            <p class="text-center">
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <img src="assets/128/camera.png">
                  </button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/headphones.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/graphic_design.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/monitor.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/book.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/art_palette.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/brush.png"></button>
            </p>
        </div>
        <div class="col-md-12  animated fadeInUp" id="q-interests" style="animation-delay: .4s;">
            <h2 class="text-center">What are you interested in?</h2>
            <p class="text-center">
              <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/camera.png"></button>
              <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/headphones.png"></button>
              <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/graphic_design.png"></button>
              <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/monitor.png"></button>
              <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/book.png"></button>
              <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/art_palette.png"></button>
              <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/brush.png"></button>
            </p>
        </div>
        <div class="col-md-12  animated fadeInUp" id="q-colors" style="animation-delay: .5s;">
            <div class="sq-color" style="background: #000"></div>
            <h2 class="text-center">What colors do you wear?</h2>
            <p class="lead text-center">Choose the palettes you love.</p>
            <p class="text-center">
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #333"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #FFF"></div>
                </button>
                <br><br>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #ff4d4d"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #ffa64d"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #4d79ff"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #47d147"></div>
                </button>
                <br><br>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #000080"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #802000"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #4d4d4d"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #004d00"></div>
                </button>
            </p>
        </div>
        <div class="col-md-12 animated fadeIn" style="animation-delay: .6s;">
          <p class="text-center">
            <a href="/register2">
            <button class="btn btn-default" type="button" style="background-color:#f15a24; color:rgb(249,248,248);  style="padding: 0px"">
              <h3>
              <b>&nbsp;Next&nbsp;</b>
            </h3>
            </button>
            </a>
          </p>
        </div>
    </div>
  </div>
  <script>

  </script>
