<nav class="navbar navbar-default" style="height:69px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"><img src="assets/img/shirtconnectlogo.png" width="200"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation">
                        <a href="/profile" style="background: none">
                            <button class="btn btn-default" type="button" style="background-color:#f15a24;height:37px;padding-top:7px;padding-bottom:4px;color:rgb(249,248,248);">Get my free shirt!</button>
                        </a>
                    </li>
                    <li role="presentation"><a href="#" style="padding:25px;">For Branders</a></li>
                    <li role="presentation"><a href="#" style="padding:25px;">Promote &amp; Earn</a></li>
                    <li role="presentation"><a href="#" style="background: none;">
                      <button class="btn btn-default" type="button" style="height:37px;padding-top:7px;padding-bottom:4px;">Login</button>
                    </a></li>
                </ul>
            </div>
        </div>
</nav>

<div class="container">
    <header>
        <h1 class="text-center">User Profile</h1>
    </header>

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">What's your size?</h2>
            <p class="text-center">
                <button class="btn btn-default sq-btn" type="button"><img src="https://image.flaticon.com/icons/png/128/63/63297.png" style="height:auto; width: 60%;">
                  <p>XS</p>
                </button>
                <button class="btn btn-default sq-btn" type="button"><img src="https://image.flaticon.com/icons/png/128/63/63297.png" style="height:auto; width: 70%;">
                  <p>S<p>
                </button>
                <button class="btn btn-default sq-btn" type="button"><img src="https://image.flaticon.com/icons/png/128/63/63297.png" style="height:auto; width: 80%;">
                  <p>M<p>
                </button>
                <button class="btn btn-default sq-btn" type="button"><img src="https://image.flaticon.com/icons/png/128/63/63297.png" style="height:auto; width: 90%;">
                  <p>L</p>
                </button>
                <button class="btn btn-default sq-btn" type="button"><img src="https://image.flaticon.com/icons/png/128/63/63297.png">
                  <p>XL<p>
                </button>
            </p>
        </div>
        <div class="col-md-12">
            <h2 class="text-center">What's your style?</h2>
            <p class="lead text-center">Choose logos that appeal to you.</p>
            <p class="text-center">
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <img src="assets/128/camera.png">
                  <p>Something</p>
                  </button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/headphones.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/graphic_design.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/monitor.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/book.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/art_palette.png"></button>
                <button class="btn btn-default sq-btn" type="button" data-toggle="button" aria-pressed="false" autocomplete="off"><img src="assets/128/brush.png"></button>
            </p>
        </div>
        <div class="col-md-12">
            <h2 class="text-center">What are you interested in?</h2>
            <p class="text-center">
              <button class="btn btn-default sq-btn" type="button"><img src="assets/128/camera.png"></button>
              <button class="btn btn-default sq-btn" type="button"><img src="assets/128/headphones.png"></button>
              <button class="btn btn-default sq-btn" type="button"><img src="assets/128/graphic_design.png"></button>
              <button class="btn btn-default sq-btn" type="button"><img src="assets/128/monitor.png"></button>
              <button class="btn btn-default sq-btn" type="button"><img src="assets/128/book.png"></button>
              <button class="btn btn-default sq-btn" type="button"><img src="assets/128/art_palette.png"></button>
              <button class="btn btn-default sq-btn" type="button"><img src="assets/128/brush.png"></button>
            </p>
        </div>
        <div class="col-md-12">
            <div class="sq-color" style="background: #000"></div>
            <h2 class="text-center">What colors do you wear?</h2>
            <p class="lead text-center">Choose the palettes you love.</p>
            <p class="text-center">
                <button class="btn btn-default sq-btn" type="button">
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #333"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #FFF"></div>
                </button>
                <br><br>
                <button class="btn btn-default sq-btn" type="button">
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #ff4d4d"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #ffa64d"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #4d79ff"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #47d147"></div>
                </button>
                <br><br>
                <button class="btn btn-default sq-btn" type="button">
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #000080"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #802000"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #4d4d4d"></div>
                  <div style="float: left; width: 96px; height: 96px; margin: 5px; border: 1px solid rgba(0, 0, 0, .2); border-radius: 4px; margin: 10px; background: #004d00"></div>
                </button>
            </p>
        </div>
    </div>
  </div>
