<nav class="navbar navbar-default" style="height:69px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="/landing"><img src="assets/img/shirtconnectlogo.png" width="200"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation">
                        <a href="/register" style="background: none">
                            <button class="btn btn-default" type="button" style="background-color:#f15a24;height:37px;padding-top:7px;padding-bottom:4px;color:rgb(249,248,248);">Get my free shirt!</button>
                        </a>
                    </li>
                    <li role="presentation"><a href="/branders" style="padding:25px;">For Branders</a></li>
                    <li role="presentation"><a href="#" style="padding:25px;">Promote &amp; Earn</a></li>
                    <li role="presentation"><a href="/" style="background: none;">
                      <button class="btn btn-default" type="button" style="height:37px;padding-top:7px;padding-bottom:4px;">Login</button>
                    </a></li>
                </ul>
            </div>
        </div>
</nav>
