<!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>Airship CMS Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/fonts/material-icons.css">
        <link rel="stylesheet" href="assets/css/user.css">
        <link rel="stylesheet" href="assets/css/Brands.css">
        <link rel="stylesheet" href="assets/css/Features-Clean.css">
        <link rel="stylesheet" href="assets/css/Pretty-Product-List.css">
        <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">

        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    </head>
      <body>
        {{{ template }}}

        <footer class="site-footer">
        <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 style="color:#f15a24;">ShirtConnect © 2017</h5></div>
                    <div class="col-sm-6 social-icons"><a href="#" style="background-color:#f15a24;"><i class="fa fa-facebook"></i></a><a href="#" style="background-color:#f15a24;"><i class="fa fa-twitter"></i></a><a href="#" style="background-color:#f15a24;"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </footer>
      </body>
    </html>
